@model List<model.EF.Product>
@{
    var category = (model.EF.ProductCategorie)ViewBag.Centagory;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>@category.Name</h3>
            </div>
            <div class="see">
                <p style="color:chartreuse"><a href="#"></a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach(var iteam in Model )
            {
                var url = "/chi-tiet/" + iteam.MetaTitle + "-" + iteam.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="/Content/images/@iteam.Image" alt="" /></a>
                <h2>@iteam.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees" style="text-align:center">@iteam.Price.ToString("N0")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/them-gio-hang?productId=@iteam.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            }
            <div class="clear"></div>
            <!--phan trang-->
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/san-pham/" + category.MetaTitle + "-" + category.ID;
                
                    <div class="paging">
                        @if (currentPage > ViewBag.First)
                {
                            <a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a>
                           
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                        

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                              <a href="@link?page=@i" class="active" title="Trang @i">@i</a>
                            }
                            else
                            {
                                <a href="@link?page=@i" title="Trang @i" class="pos">@i</a>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a>
                           <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a>
                        }
                    </div>
                

            }
            

        </div>

    </div>
</div>


